*{
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.titulo{
    text-align: center;
    margin: 0;
}

.figura{
    display: flex;
    justify-content: center;
}

.imagen{
    width: 720px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container2{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    margin-inline: 25%;
}

.btn{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    padding:5px;
}

.campo{
    display: flex;
    flex-direction: column;
}

.ronda{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 28px;

}

.marcador{
    white-space: pre-line;
    margin: 20px;
    line-height: 1.5;
    font-size: 22px;
}

.elecciones{
    white-space: pre-line;
    text-align: center;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;

}

.mensaje{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 22px;
}

