*{
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.titulo{
    text-align: center;
}

.figura{
    display: flex;
    border: 1px solid black;
    justify-content: center;
}

.imagen{
    width: 720px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid blue;
}

.container2{
    display: flex;
    flex-direction: row ;
    border: 1px solid black;
    justify-content: space-around;
    margin-inline: 25%;
}

.btn{
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 16px;
    padding:5px;
}